alumno{
	padding: 10px;
	display: block;
	overflow: hidden;
}

alumno:nth-child(2n){
	background-color: #ccc;
}

nombre, nota, faltas{
	font-family: arial;
	font-size: 18px;
	width: 80px;
	border-right: 2px solid #aaa; 
	display: block;
	float: left;
	text-align: center;
}

nota{
	font-size: 22px;
	color:green;
}

faltas{
	font-size: 22px;
	color:red;
}